<div>
    <img src="http://familyguidance.net/HTML5/images/homework-banner2.png" width="950" height="128" />
</div>
<div class="boxed">
    <div>

        <h1><center><font size = "20"><font color = "black">Welcome to Alpha School</h1></center>
        </font>
        </font>

        <center><img src="STC-2014-Emblem-BW.gif" alt="Holy Hands" style="width: 50px; height: 50px;"></center>

        <h3><center><font size = "6"><font color = "black">Where Tradition Meets New Heights And Excellence</h3></center>
        </font>
        </font>

        <div>
            <input class="loginLabel" ng-model="entryBox" placeholder="Please enter ID">
            <div>
                <button type="button" ng-click="navigatePageTwo()">Submit</button>
            </div>
        </div>
    </div>
</div>