<div>
    <div id='cssmenu'>
        <ul>
            <li><a href='#/adminAddAccount'>Add Account</a></li>
            <!--will need to change the tabs to make active with admin console-->
            <li><a href='#/adminDeleteAccount'> Delete Account</a></li>
            <li class='active'><a href='#/adminAddCourse'> Add Course</a></li>
            <li><a href='#/adminAssignCourse'>Assign Course</a></li>
            <li><a href='#logout'>Logout</a></li>
        </ul>
    </div>
    <div class="title">
        <span>Add Course</span>
    </div>
    <div class="flexHorizontal">
        <div class="yearly">
            <label class="grade" for="yearly">Course List</label>
            <div class="courseListBox">
                <select size="10" ng-model="selectedCourse">
                    <optgroup class="Grade" ng-repeat="gradeList in courseList" label={{gradeList.grade.name}}>  
                        <option class="optionChild" ng-repeat="course in gradeList.grade.courses" value={{selectedCourse}}>
                            {{course.courseName}}
                            </option>
                    </optgroup>
                </select>
            </div>
        </div>

        <div class="flexVertical">
            <div class="padDIVs">
                <label class="above" for="courseName">Course Name: </label>
                <select id="courselist">
                    <option class="dropDown" value="course">Science</option>
                    <option class="dropDown" value="course">Math</option>
                    <option class="dropDown" value="course">Spelling</option>
                    <option class="dropDown" value="course">Reading</option>
                </select>
            </div>


            <div class="padDIVs">
                <label class="above" for="your grade">Your Grade: </label>
                <select id="gradelevel">
                    <option class="dropDown" value="grade">1</option>
                    <option class="dropDown" value="grade">2</option>
                    <option class="dropDown" value="grade">3</option>
                    <option class="dropDown" value="grade">4</option>
                </select>
            </div>

            <div class="padDIVs">
                <label class="above" for="Your Level">Your Level: </label>
                <select id="levelid">
                    <option class="dropDown" value="level">Basic</option>
                    <option class="dropDown" value="level">Intermediate</option>
                    <option class="dropDown" value="level">Advanced</option>
                </select>
            </div>
        </div>
    </div>
    <div>
        <div class="buttons">
            <input type="button" class="btn" value="Add Coures">
        </div>
    </div>
</div>