.flexVertical{
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-content: space-between;    
}

.flexHorizontal{
    display: flex;
    flex-direction: row;
	justify-content: center;    
	align-content: space-between;    
}

.padDIVs{
    margin-left: 100px;
}