@charset "utf-8";
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid rgb(25,25,112);
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu ul {
  background: rgb(132,172,213);
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: rgb(25,25,112);
}
.idButton{
     text-align: center;
     padding-bottom: 30px;
  background: midnightblue;
 
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 2px;
  font-family: Arial;
  color: #ffffff;
  font-size: medium;
  padding: 10px 20px 10px 20px;
  border: solid royalblue 2px;
  text-decoration: none; 
}
.title{
	padding-top: 30px;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #132639;
    text-align: center;
    padding-bottom: 30px;
}
.flexContainerCenter{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: space-between;	
}
div.transbox {
  margin: 60px;
  background-color: #ffffff;
  border: 2px solid gray;
  opacity: 0.6;
  filter: alpha(opacity=60); 
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

  body {
  	font-family: "Montserrat";  /* just a cutsom font */
  }

  a:-webkit-any-link{		
	text-decoration:none !important;	/* do not underline links */
	color: black !important; 	/* give links a default color */
  font-weight: bold;
  }
 

  .calendarWrapper {
  	margin: 5em;					/* just a temp margin */
  	border: 0.1em solid lightgray;	/* wrap the calendar inside a box */
  	width: 40em;				/* define a width for the box */
  	height: 24em;				/* define a height for the box */
  	box-shadow: 0.1em 0.2em 0.8em gray;	/* box shadow for better view */
    background: white;
  }

.calendarHeader {
  	height: 4em;					/* define a height for the header */
  	background-color: #3f51b5;		/* give the header a background color */
  	color: white;					/* give the header a text color */
  	text-align: center;				/* center the text inside the header */
    }

.calendar-body .col-xs-1 {
  	width: 5em;					/* give each column a fixed width */
  	margin-left: 0.6em;				/* have some space between columnd */
  	text-align: center;				/* align text in the center */
  }


.calendarHeader p {
	padding-top: 1.2em;				/* vertical centering */
	text-transform: uppercase;		/* all caps text  */
  }

.calendarHeader span {
  	padding: 1.3em;			/* vertical and horizontal centering icons */
}

.inactive {					/* inactive dates get a light gray text color */
	color: #ccc;
}

.weekdays {	
	padding: 1em;			/* giving weekdays some space around */
}

.dates {
	padding: 0.2em 1em 0.2em 1em;	/* giving dates some space  */
}

.line {								/* a gray line separator */
	height: 0.1em;
	border: 0.1em solid gray;
}

.current-date {					/* styling the current date section  */
	text-transform: uppercase;
	text-align: center;
	padding: 0.7em;
}

.calendar-body .row .col-xs-1 p:hover {
	color: #4778a6;			/* hover state on all dates  */
} 
