.announcementsBox {
    font: inherit;
	width: 550px;
    height: 300px;    
	border: 3px solid royalblue;
	border-radius: 5px;
}

.flexC{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-content: space-between;
	flex-wrap: wrap;	
}

.flexC2{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-content: space-between;
	flex-wrap: nowrap;	
}

.announceText{
	padding: 25px;
	font-family: "Georgia", cursive, sans-serif; font-size: 17px;
	color: #212060;
}

#datepicker{
	font-size:.8em;
    font-family:arial;
    color:white;
	background: midnightblue;
}

.duedate{
	padding: 25px; 
	padding-left: 125px;
	flex-grow: 1;
	color: #212060;
}

.dropDown{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: midnightblue;
}

.announceTarget{
	padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	flex-grow: 1;
	color: #212060;
}

.upload{
	padding: 25px;	
	flex-grow: 1;
	color: #212060;
}

.btn{
	background-color:#00a2df;
	border:none;
	color:white;
	padding:8px;
	font-family: Arial, Helvetica, sans-serif; font-size: 15px;
}

.btn:hover{
	background:#212060;
	font-family: Arial, Helvetica, sans-serif; font-size: 15px;
}

.buttons{
	padding:5px;
	padding-bottom: 20px;
	padding-top: 45px;	
}