.dropDownMenu{
	font-size: large;
}

.calendar{
	padding: 40px;  
	flex-grow: 1;
	flex-basis: auto;
	color: #212060;
}

.EventName{
	padding: 25px;
	font-family: "Georgia", cursive, sans-serif; font-size: 17px;
	flex-grow: 1;
	color: #212060;
}
.Location{
	padding: 25px;
	font-family: "Georgia", cursive, sans-serif; font-size: 17px;
	flex-grow: 1;
	color: #212060;
}

.directionsBox {
    font: inherit;
	width: 250px;
    height: 130px;    
	border: 3px solid royalblue;
	border-radius: 5px;
}

.selectrecip{
	padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	flex-grow: 1;
	flex-basis: auto;
	color: #212060;

}
.selectchoice{
	padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	flex-grow: 1;
	flex-basis: auto;
	color: #212060;
}

.uploading{
	/*padding: 50px 20px 20px 20px;*/	
	flex-grow: 1;
	flex-basis: auto;
	color: #212060;
}
.sectionHeading{
	font-family: Arial, Helvetica, sans-serif; font-size: 40px;
	color: #212060;
	padding-top: 10px; 
}