
.directionsBox {
    font: inherit;
	width: 250px;
    height: 130px;    
	border: 3px solid royalblue;
	border-radius: 5px;
}

.grade{
	padding: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	flex-grow: 1;
	flex-basis: auto;
	color: #212060;
}

.duedateHW{
	flex-grow: 1;
	flex-basis: auto;
	color: #212060;
}

.uploadHW{
	flex-grow: 1;
	flex-basis: auto;
	color: #212060;
}

.flexBottom{
 display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: space-between;
   align-items: space-between;
   -webkit-justify-content: space-between;
   justify-content: space-between;
}

.wrapper{
  	display: flex;
    flex-direction: column;
    justify-content: center;
}