@charset "utf-8";

fieldset {
    /*border: 0;*/
}

ul {
	list-style: none;
	
}

li{
	display:inline-table;
	color: #212060;
	/*Above is to change color of font*/
}

li.directions {
	padding-left:40px;
	padding-bottom:20px;
	width: 250px;
    height: 110px;
	
}

.above{
	display:block;
	font-weight:bold;
	font-family: "Georgia", cursive, sans-serif; font-size: 17px;
	margin-bottom: 10px;
	
}

.dropDown{
    font-family: Arial, Helvetica, sans-serif;
    color: midnightblue;
    background: royalblue;
}

.buttons{
	padding:5px;
	
}

.upload{
	padding-left:100px;	
	border: 3px solid white;
	border-radius: 30px;
	width: 200px;
    height: 90px;
	
}

.button1{
	padding-left:250px;
	padding-right:5px;
	
}

.directions{
	padding-right:0px;
	font-family: "Georgia", cursive, sans-serif; font-size: 17px;
}

.directionsBox {
    font: inherit;
	width: 250px;
	border: 3px solid royalblue;
	border-radius: 5px;
	width: 200px;
    height: 130px;
}

.grade{
	padding-right:100px;
	padding-left: 100px;
	border: 3px solid white;
	border-radius: 30px;
	width: 200px;
    height: 90px;
	
	
}

.selectclass{
	padding-right:50px;
	padding-left:50px;
	border: 3px solid white;
	border-radius: 30px;
	width: 200px;
    height: 90px;
	
	
	
}

.duedate{
	padding-right:100px;
	padding-left: 100px;
	border: 3px solid white;
	border-radius: 30px;
	width: 200px;
    height: 90px;
	
}

.btn{
	background-color:#00a2df;
	border:none;
	color:white;
	padding:8px;
	font-family: "Georgia", cursive, sans-serif; font-size: 15px;
}

.btn:hover{
	background:#212060;
	font-family: "Georgia", cursive, sans-serif; font-size: 20px;
}


	

