@charset "utf-8";
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid rgb(25,25,112);
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu ul {
  background: rgb(132,172,213);
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: rgb(25,25,112);
}
.announcementBox{
	flex-wrap: wrap;
	border: 3px solid royalblue;
	border-radius: 5px;
  background:  lightgray;
}
.above{
	display:block;
	font-size: large;
	font-weight:bold;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	margin-bottom: 10px;
}
.title{
	padding-top: 30px;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #132639;
    text-align: center;
    padding-bottom: 30px;
}
button[type=button] {
    border : solid 0px #1a1ed9;
	border-radius : 9px 9px 9px 3px ;
	-moz-border-radius : 9px 9px 9px 3px ;
	-webkit-box-shadow : 0px 0px 18px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 18px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 18px rgba(0,0,0,1.0);
	font-size : 17px;
	color : #ffffff;
	padding : 12px 20px;
	background : #053494;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#053494), color-stop(100%,#addbff));
	background : -moz-linear-gradient(top, #053494 0%, #addbff 100%);
	background : -webkit-linear-gradient(top, #053494 0%, #addbff 100%);
	background : -o-linear-gradient(top, #053494 0%, #addbff 100%);
	background : -ms-linear-gradient(top, #053494 0%, #addbff 100%);
	background : linear-gradient(top, #053494 0%, #addbff 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#053494', endColorstr='#addbff',GradientType=0 );
}

button:hover{
	background:#212060;
}



.grade{
	padding: 25px;
	font-family: Arial, Helvetica, sans-serif; font-size: 15px;
	flex-grow: 1;
	flex-basis: auto;
	color: #212060;
}

.buttons{
	
	padding-bottom: 8px;
	padding-top: 5px;	
	border:none;
	color:white;
	
}
.btn{
	background-color:#00a2df;
	padding:5px;
	border:none;
	color:white;
	font-family: Arial, Helvetica, sans-serif; font-size: 15px;
}

.btn:hover{
	background:#212060;
	font-family: Arial, Helvetica, sans-serif; font-size: 15px;
}

.courseListBox{
	flex-wrap: wrap;
	border: 3px solid royalblue;
	border-radius: 5px;
  margin-bottom: 15px;
}

.Grade{
	color: white;
    background: midnightblue;
}
.optionChild{
	color: black;
    background: white;
}
.Date{
  color: white;
    background: lightseagreen;
    font-family: Arial, Helvetica, sans-serif; font-size: 16px;
    border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.flexContainer{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-content: space-between;	
}